testing

<p><%= image_tag '/images/design/ico_rss.gif' %></p>

<p><img src="/images/design/ico_rss.gif" /></p>

<p><%= link_to 'gambar', '/images/design/ico_rss.gif' %></p>

<p><a href="/images/design/ico_rss.gif">gambar pake html</a></p>
