<% content_for :sidebar do %>
  
  <h3><span><a>Research Links</a></span></h3>
  <ul id="category">
    <li><%= link_to_function("Research notes:", visual_effect(:toggle_appear, "dropdowncatalogue")) %></li>
    <ul id="dropdowncatalogue" style="display:none">
      <li>Just Referense collection</li>
      <li>Do not take home</li>
      <li>Do not copy</li> 
    </ul>
  </ul>

<% end %>
