<div class="article">
  <h2><span><a>Editing Students</a></span></h2>
  
  <% form_for :info_mahasiswa, @info_mahasiswa, :url => info_mahasiswa_url(@info_mahasiswa), :html => {:method => :put} do |f| %>
      
                              <%= render :partial => 'form' %> 
                              <%= submit_tag "Update" %><br/>

      <% end %>
  <br />
  <%= link_to 'Show', :action => 'show', :id => @info_mahasiswa%> |
  <%= link_to 'Back', :action => 'index' %>
  
</div>
