<%= error_messages_for 'journal' %>

<!--[form:journal]-->
<p><label for="journal_title">Title</label><br/>
<%= text_field 'journal', 'title'  %></p>

<p><label for="journal_discription">Discription</label><br/>
<%= text_area 'journal', 'discription'  %></p>
<!--[eoform:journal]-->

<p><label for="journal_author_name">Author Name</label><br/>
<%= text_field 'journal', 'author_name'  %></p>
<!--[eoform:journal]-->

